/* reset-password specific styles only */

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}

section.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

section.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

section.input-wrapper input {
  padding-left: 40px;
  padding-right: 40px;
}

.icon-left {
  position: absolute;
  left: 12px;
  width: 18px;
  height: 18px;
  opacity: 0.5;
}

.icon-right {
  position: absolute;
  right: 12px;
  width: 18px;
  height: 18px;
  opacity: 0.5;
  cursor: pointer;
}