/* LANDING PAGE SPECIFIC STYLES ONLY */

main.page-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-top: 80px;
}

main.page-wrapper h1,
main.page-wrapper p,
section.button-group {
  width: 100%;
  max-width: 420px;
}

section.button-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 120px;

}